{% include base_path %}

{% if site.author.github or site.author.bitbucket or site.atom_feed.hide != true %}
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="http://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
    {% if site.atom_feed.hide != true %}
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

<style>
.university-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 50px;    
  flex-wrap: wrap;
}

.university-logo {
  flex: 0 0 auto;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.university-logo img {
  max-height: 80px;
  max-width: 150px;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

.university-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.university-logo a:hover {
  opacity: 1;
}
</style>

<div class="university-logos">
  <div class="university-logo">
    <a href="https://www.ktu.edu.tr/en" target="_blank">
      <img src="/images/KTU.png" alt="University 1">
    </a>
  </div>
  <div class="university-logo">
    <a href="https://gazi.edu.tr/" target="_blank">
      <img src="/images/Gazi.png" alt="University 2">
    </a>
  </div>
  <div class="university-logo">
    <a href="https://www.upce.cz/en" target="_blank">
      <img src="/images/UP.png" alt="University 3">
    </a>
  </div>
  <div class="university-logo">
    <a href="https://www.lsuhs.edu/" target="_blank">
      <img src="/images/LSUHS.png" alt="University 4">
    </a>
  </div>
</div>

<div class="page__footer-copyright"></div>
